<!DOCTYPE html>
<html>
  <head>
    <title>Hello Family!</title>
<!--
    <link rel="stylesheet" href="/third/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/third/font-awesome/css/font-awesome.min.css">
-->
    <link rel="stylesheet" href="/build/third/vendors.css">

  </head>
  <body>

    <h2>Twitter Bootstrap</h2>

    <ul>
      <li><a href="/left-sidebar-with-toggle.html">Left Sidebar with Toggle</a></li>
      <li><a href="/assessors.html">Assessors</a></li>
    </ul>

  	<h2>React</h2>

    <div id="app"></div>
<!--
    <script src="/third/jquery/dist/jquery.min.js"></script>
    <script src="/third/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/third/react/react.min.js"></script>
-->
    <script src="/build/third/vendors.js"></script>
    <script src="/build/react/app1.js"></script>

  </body>
</html>